@import '../../../styles/index.scss';

.breaking_news {
    position: relative;
  
    .news_line {
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        align-items: center;
    }
    
    .news_content {
        display: inline-flex;
        align-items: center;
        animation: scroll 2s linear forwards;
        
        @keyframes scroll {
            0% {
                transform: translateX(100%);
            }
            100% {
                transform: translateX(0%);
            }
        }
    }

    .news_image, .news_video {
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-right: 10px;
        border-radius: 5px;
    }

    .news_video {
        object-fit: cover;
    }
}
