// // colors
$primary-red :#dc3545;
$secondary-red :#E56A6A;
$purple: #9D1D64;
$dark-purple: #76164B;
$gray: #CED4DA;
$light-blue: #BAB5D3;


// //fonts and sizes 

// $secondary-fonts: "Questrial", sans-serif;
// $primary-fonts : "Open Sans",
// sans-serif;