.page-container {
  display: flex;
  justify-content: space-between;
  position: relative; /* Ensure positioning context for vertical bars */
}

.sidebar-section {
  margin-bottom: 20px;
}

.sidebar-section h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.sidebar-section ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-section ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center; /* Align items vertically */
}

.sidebar-section ul li img {
  width: 50px; /* Adjust image size as needed */
  height: 50px; /* Adjust image size as needed */
  margin-left: 10px; /* Add spacing between image and text */
  border-radius: 5px; /* Keep square shape for images */
}

.sidebar-hr {
  width: 100%; /* Ensure horizontal rule spans full width */
  margin: 10px 0; /* Margin above and below the horizontal rule */
  border: none; /* Remove default border */
  border-top: 1px solid #ccc; /* Style the top border */
}

/* Zoom effect for sidebar images */
.sidebar-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px; /* Space between image and content */
  transition: transform 0.3s ease; /* Smooth transition effect for transform */
  overflow: hidden; /* Ensure image does not overflow its container */
}

/* Zoom effect for main content images */
// .content-section {
//   overflow: hidden; /* Hide overflow to prevent zoomed content from flowing outside */
// }

// .article-container {
//   position: relative; /* Ensure positioning context for article content */
// }

// .article-image {
//   max-width: 100%;
//   height: auto;
//   margin-bottom: 20px; /* Space between image and content */
//   transition: transform 0.3s ease; /* Smooth transition effect for transform */
//   overflow: hidden; /* Ensure image does not overflow its container */
// }

// .article-container:hover .article-image {
//   transform: scale(1.1); /* Scale up the image on hover */
//   z-index: 2; /* Ensure hovered image is above other elements */
// }

.article-container:hover .article-image {
  transform: scale(1.05); /* Adjust the scale value to your preference */
  z-index: 2; /* Ensure hovered image is above other elements */
}


.vertical-bar {
  width: 1px; /* Adjust width of the vertical bar as needed */
  background-color: #ccc; /* Color of the vertical bar */
  margin: 10px; /* Margin to separate the bars from content */
  // margin-bottom: 10px;
}

.content-section {
  overflow: hidden; /* Hide overflow to prevent zoomed content from flowing outside */
  padding: 20px; /* Add padding to create space around the content */
  background-color: #f9f9f9; /* Example background color */
}

.article-container {
  position: relative; /* Ensure positioning context for article content */
}

.article-image {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease; /* Smooth transition effect for transform */
  overflow: hidden; /* Ensure image does not overflow its container */
}

.article-content{
  margin-top: 20px;
}